*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: beige;
    position: relative;
    width: 400px;
    left: 10%;
    width: 80%;
    column-count: 3;
    column-gap: 10px;
    text-align: center;
    padding: 10px;
    padding-top: 2px;
}
.container img{
    position: relative;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
}